@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    box-sizing: border-box;
    font-family: 'Poppins';
}
.logo{
    margin: 0;
    font-size: 1.5em;
    color: rgba(0, 187, 16, 0.822);
    font-weight: 600;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
        background-color: rgb(225, 225, 225);
        align-items: center;
        padding: 3px 0px;
        position: fixed;
        width: 100%;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0px;

}
nav{
    display: inline-block;
    margin-right: 10px;
    align-items: center center;
}
nav a {
    text-decoration: none;
    color: rgb(0,0,0);
    padding: 0px 15px;
    align-items: center center;
}
nav a:hover {
    text-decoration: none;
    color: rgba(0, 122, 10, 0.822);
    padding: 0px 15px;
}
nav p{
    text-decoration: none;
    color: rgb(0,0,0);
    padding: 0px 15px;
    align-items: center center;
    margin: 0;
}
nav p:hover{
    text-decoration: none;
    color: rgba(0, 122, 10, 0.822);
    padding: 0px 15px;
}
.acciones{
    position: relative;
    display: inline-block;
}
.acciones ul{
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
    background-color: rgb(225, 225, 225);
    padding: 4px;
    min-width: 180px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease; /* Para que aparezca suave */
    text-decoration: none;
    left: 0;
}
.acciones:hover ul{
    display: block;
    visibility: visible;
    opacity: 1;
}
.acciones ul li {
    padding: 8px 0;
}

.acciones ul li a:hover {
    color: rgba(0, 187, 16, 0.822);
}
.H_padre{
    display: flex;
    width: 100%;
}
.hero2{
    display: flex;
    flex-direction: column;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../Images/Hero2.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    color: rgb(250, 250, 250);
    padding: 10vh 10vh;
}
.container_h1{
    display: flex;
    font-size: 3.7em;
}
.container_h1 .ver{
    color: rgba(0, 187, 16, 0.822);
}
.container_button button{
    color: white;
    background-color: rgba(0, 122, 10, 0.822);
    border: rgba(1, 94, 8, 0.644) solid 1px;
    border-radius: 10px;
    font-size: 2em;
    box-shadow: 4px 4px rgba(0, 148, 12, 0.301);
    margin: 10px 10px;
    transition: transform 0.3s ease;
}
.container_button button:hover{
    color: rgba(0, 122, 10, 0.822);
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 10px;
    transform: scale(1.1);
    box-shadow: 4px 4px rgba(253, 253, 253, 0.486);
}
.iconos_hero{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15vh 0;
    min-width: 800px;
    max-width: 1000px;
    font-size: 1.5em;
}
.hero2 h2{
    font-size: 2.4em;
}
.hero2 p{
    font-size: 1.2em;
}

footer{
    display: flex;
    background-color: rgba(0, 122, 10, 1.0);
    color: white;
    width: 100%;
    
}
.footer_container {
    height: auto;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;       
    padding: 40px;
    background-color: green;
    list-style: none; 
    width: 100%;
}

footer .foot_atajo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    
}
.foot_atajo ul{
    padding: 0;
    margin: 0;
}
.foot_redes {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 1.2em;
}



footer ul li{
    list-style: none;

}
footer a{
    text-decoration: none;
    color: white;    
}
footer a:hover{
    text-decoration: none;
    color: burlywood;
}
footer a i{
    text-decoration: none;
    color: white;
    transition: transform 0.4 ease;
    
}
footer a i:hover{
    text-decoration: none;
    color: burlywood;
    transform: scale(1.5);
}
